.hyip_list_container{
  display: flex;
  flex-direction:column;
  flex:1 auto;
  border-radius:5px;
  background:#fff;
  margin:0 auto;
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


  color:#383838;

  .hyip_element{
    display:flex;
    flex-direction:row;

    padding:10px 20px;
    border-bottom:1px solid #c7c7c7;

    .hyip_basic{
      display:flex;
      flex-direction:row;
      flex:1 auto;
    }

    .hyip_logo{
      width:70px;
      height:70px;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      img{
        max-width:70px;
        max-height:70px;
      }
    }

    .hyip_name{
      display:flex;
      flex-direction:column;
      justify-content:center;
      font-size:16px;
      margin-left:20px;
      text-align:left;
      flex:1 auto;
      a:link, a:visited{
        font-size:14px;
        margin-top:10px;
        color:#585858;
        text-decoration:none;
        font-weight:300;
      }
      a.name{
        font-size:16px;
        font-weight:500;
        margin-top:0;
      }

    }

    .hyip_stats{
      display:flex;
      flex-direction:row;
      font-size: 15px;
      font-weight: 300;
      div{
        width:100px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;

        i{
          font-size: 40px;
          color: #858585;
          margin-bottom:10px;
        }


      }
      .hyip_amount{

      }
    }
  }


}

.pagination_pages{
  display:flex;
  flex-direction: row;

  ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin: 0 auto;
    padding:0;
    padding-top:20px;
    padding-bottom:40px;

    li{
      padding:5px 10px;
      border:1px solid #585858;
      color: #585858;
      font-size:12px;
      margin:5px;
      cursor:pointer;

    }

    li.disabled{
      cursor: default;
      color:#8c8c8c;
      border:1px solid #8c8c8c;

    }

    li.active{
      border:1px solid #1a237e;
      color: #fff;
      background: #1a237e;
    }
  }
}


@media (max-width: 768px){


  .hyip_list_container{
    width:80%;

    .hyip_element{
      flex-direction: column;

      .hyip_stats{
        font-size:12px;


      }

      .hyip_stats div i{
        font-size:20px;
      }
    }
  }


}
