<div class="hyip_list_container" *ngIf="hyips">
  <div class="hyip_element" *ngFor="let hyip of pagedItems">
    <div class="hyip_basic">
      <div class="hyip_logo"><a target="_blank" href="{{hyip.refURL}}"><img src="{{hyip?.image}}"></a></div>
      <div class="hyip_name">
        <a target="_blank" class="name" href="{{hyip.refURL}}">{{hyip.name}}</a>
        <a target="_blank" href="{{hyip.refURL}}">{{hyip.url}}</a>
      </div>

    </div>
    <div class="hyip_stats">
      <div class="hyip_amount">
        <i class="material-icons">
          attach_money
        </i>
        {{hyip.amountInvested}}
      </div>
      <div class="hyip_time">
        <i class="material-icons">
          timer
        </i>
        <span class="days">{{hyip.daysMonitored}} days</span></div>
      <div class="hyip_trust"><i class="number_rating">{{hyip.trustScore}}</i><hyip-rating [stars]="hyip.trustScore"></hyip-rating></div>
      <div class="hyip_paying paying" *ngIf="hyip.isPaying == 2">
        <i class="material-icons">
          check_circle
        </i>
        Paying
      </div>
      <div class="hyip_paying not_paying" *ngIf="hyip.isPaying == 0">
        <i class="material-icons">
          warning
        </i>
        Scam
      </div>
      <div class="hyip_paying waiting" *ngIf="hyip.isPaying == 1">
        <i class="material-icons">
          hourglass_empty
        </i>
        Waiting
      </div>

    </div>
  </div>


</div>

<div class="pagination_pages">
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}">
      <a >First</a>
    </li>
    <li (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
      <a >Previous</a>
    </li>
    <li (click)="setPage(page)" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a >{{page}}</a>
    </li>
    <li (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a >Next</a>
    </li>
    <li (click)="setPage(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a >Last</a>
    </li>
  </ul>
</div>
