<div class="hyip_container">


<table mat-table [dataSource]="dataSource" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="preview">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td class="img" mat-cell *matCellDef="let row"> <img src="{{row.image}}" /> </td>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let row"> {{row.name}} <br> <a href="{{row.url}}" target="_blank">{{row.url}}</a> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="paying">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let row">
      <span class="red_pay" *ngIf="!row.isPaying">Not Paying</span>
      <span class="green_pay" *ngIf="row.isPaying">Paying</span>

    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="amountInvested">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> $ Invested </th>
    <td mat-cell *matCellDef="let row"> {{row.amountInvested}} </td>
  </ng-container>



  <!-- Color Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Days Monitored </th>
    <td mat-cell *matCellDef="let row" > {{row.daysMonitored}} </td>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="stats">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trust % </th>
    <td mat-cell *matCellDef="let row"> {{row.trustScore}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
  <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>


</div>
