.hyip_container{
  width: 80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
}

mat-form-field{
  // width:100%;
}

mat-paginator{
  display:flex;
  background:transparent;
  margin-top:20px;
}

table{
  width:100%;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.img{
  img{
    max-width:80px;
    max-height:25px;
  }
}

.red_pay{
  color:red;
}

.green_pay{
  color: green;
}

.top_table_filters{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-bottom:2px;
  background: #fff;
  padding:10px;
}

td a:link{
  color: #585858;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  font-weight: 300;
}


tr.mat-footer-row, tr.mat-row{
  height:68px;
}

.intro_text{
  text-align: left;
  font-size: 14px;
  color: #585858;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 20px;
}
