<div class="page_content">
  <p>Our promise to our visitors: To give our honest view of High Yield Investment Programs (HYIPs), and whether or not they are paying.</p>
  <p>Too often have we, or people we care about, invested in HYIPs only to lose their hard-earned cash. Instead of just standing by and seeing it happening more and more, we want to put a stop to it, or at least try to help others to invest wisely.</p>
  <p>Sure there are trustworthy HYIPs available, but with more and more fraudulent HYIPs appearing every day, we want to stay on top of which can be trusted, and which cannot.</p>
  <p>Over time we also realised that most HYIP-monitors are also in on the game to commit fraud, so we want to combat these as well.</p>
  <p>We want this site to work for you - please send us your comments and suggestions!</p>
  <p>Want to get in contact with us?  <a routerLink="contactus">Click here</a></p>
</div>
