$blue_grad: #1a237e;
$green_grad: #4f83cc;
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1{
  margin-left:20px;
  cursor: pointer;

}

img{
  cursor:pointer;
}


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.header_hyip{
  background: $blue_grad; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $blue_grad, $green_grad); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $blue_grad, $green_grad); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $blue_grad, $green_grad); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $blue_grad, $green_grad); /* Standard syntax */
  display: flex;
  flex-direction: column;
  width:100%;
  height:250px;
}

mat-toolbar{

  background:transparent;

  color:#fff;
}


