<div class="header_hyip">
<mat-toolbar>
  <img (click)="goHome()" src="../assets/hyip_logo.png" width="50px">
  <h1 (click)="goHome()">HYIP-Review</h1>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div class="button-row">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="about">About HYIP-Review</a>
    <a mat-button routerLink="contactus">Contact us</a>

  </div>
</mat-toolbar>
  <div class="tb_title" *ngIf="!auth.viewSearch" ><h1>{{title}}</h1></div>
  <div *ngIf="auth.viewSearch" class="search_box">
      <div class="form_field">
      <span><i class="material-icons">
        search
      </i></span>
        <input (keyup)="auth.applyFilter($event.target.value)" placeholder="Search HYIP here...">
      </div>
  </div>

</div>
