<div class="fullcontainer">
<hyip-toolbar></hyip-toolbar>
<div class="whole_container">
  <router-outlet></router-outlet>
  <div class="af_banners" *ngIf="auth.viewSearch">
    <a (click)="bannerClick('crypto_sniper')" href="http://bde403u9sahxktca6mtd-a0y4i.hop.clickbank.net/" target="_blank"><img src="../assets/250_250-CCS.jpg" /></a>

    <a (click)="bannerClick('fibo')" href="http://e951aaszy4s5kr74vzpf4qcx4h.hop.clickbank.net/" target="_blank"><img src="../assets/250x250_fibo.jpg" /></a>
  </div>
</div>
</div>
<footer>
<div class="footer_copy">
  Copyright &copy; 2018 HYIP-Review
</div>
  <div class="footer_links">
    <a routerLink="about">About HYIP-Review</a>
    <a routerLink="privacy">Privacy</a>
    <a routerLink="terms">Terms of use</a>
    <a routerLink="contactus">Contact us</a>
  </div>
  <div class="footer_disclaimer">
    hyip-review.com is not a financial project and does not provide any investment services or represent anyone's interests other than its own. For basic information on this website we put our own knowledge about High Yield Investment Programs (HYIP) and investments. hyip-review.com website is offered to wide range of readers as a daily digest that focuses on HYIPs and thew validity of these investment programs. Among our main objectives is to popularize the use of cryptocurrency, explanation what HYIPs are and how HYIPs play a role in creating wealth. hyip-review.com is not responsible for any results of your using the information from our website. hyip-review.com is not responsible for the content of external sites.
  </div>
</footer>
