.whole_container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin:0 auto;
  width:80%;
  max-width:80%;
}

.af_banners{
  display:flex;
  flex-direction:column;
  padding:20px;
  img{

    margin-bottom:20px;

  }
}

@media (max-width: 768px) {
  .whole_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    width:100%;
    max-width:100%;
  }

}
