<div class="page_content">
<p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally Identifiable Information’ (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
<p>What personal information do we collect from the people that visit our blog, website or app?
  The only things that may be collected well you visit Hyip-review.com site is your IP address, Email, Name, browser info, and basic analytics.</p>
<p>Basic analytics included your patterns for reading, reading times and where you click or hover your mouse.</p>
<p>Email and Name are only collected if you volunteer it for our clearly marked email list signup.</p>
<div>Some things we never intentionally collect are:
<ul>
  <li>Race or ethnic origin</li>
  <li>Political opinions</li>
  <li>Religious or philosophical beliefs</li>
  <li>Trade union memberships</li>
  <li>Genetic or biometric data</li>
  <li>Health or mortality</li>
  <li>Sex life or sexual orientation</li>
</ul>
</div>
<h2>When do we collect information?</h2>
<p>We collect information from the second you visit the site to the second you leave it. OR when you subscribe to a newsletter or enter information on our site.</p>
<h2>How do we use your information?</h2>
<div>We may use the information we collect from you in the following ways:
<ul>
  <li>To send emails you signed up for.</li>
  <li>To show how many users and other basic analytics (not your IP) for our advertisers.</li>
  <li>To make the site better so we can continue to produce the content you love most!</li>
</ul>
</div>
<h2>How do we protect your information?</h2>
<p>We do not use vulnerability scanning and/or scanning to PCI standards.  We only provide articles and information. We never ask for credit card numbers.  We use regular Malware Scanning.  Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
<p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
<h2>Do we use ‘cookies’?</h2>
<p>Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
<div>We use cookies to:
<ul>
  <li>Keep track of advertisements.</li>
  <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
</ul>

<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser’s Help Menu to learn the correct way to modify your cookies.
  If you turn cookies off, Some of the features that make your site experience more efficient may not function properly. It won’t affect the user’s experience that make your site experience more efficient.</p></div>
 
<h2>Third-party disclosure</h2>
<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>
<p>We may also release information when it’s release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property or safety.</p>
 
<p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
<h2>Third-party links</h2>
<p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
<h2>Google</h2>
<p>Google’s advertising requirements can be summed up by Google’s Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en</p>
<p>We use Google AdSense Advertising on our website.</p>
<p>Google, as a third-party vendor, uses cookies to serve ads on our site. Google’s use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
<p>We have implemented Demographics and Interests Reporting.  We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
<h3>Opting out</h3>
<p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>
<h2>California Online Privacy Protection Act</h2>
<p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law’s reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. – See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a></p>
<p>According to CalOPPA, we agree to allow users to visit our site anonymously.</p>
<p>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</p>
<p>Our Privacy Policy link includes the word ‘Privacy’ and can easily be found on the page specified above.</p>
<p>You will be notified of any Privacy Policy changes on our Privacy Policy Page.</p> 
<h2>How does our site handle Do Not Track signals?</h2>
<p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
<h2>Does our site allow third-party behavioral tracking?</h2>
<p>It’s also important to note that we do allow third-party behavioral tracking. This is for our own use and use of our advertisers.</p>
<h2>COPPA (Children Online Privacy Protection Act)</h2>
<p>When it comes to the collection of personal information from children under the age of 13 years old, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States’ consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.</p>
<h2>Do we let third-parties, including ad networks or plug-ins collect PII from children under 13?</h2>
<p>We do not specifically market to children under the age of 13 years old.</p>
<h2>Fair Information Practices</h2>
<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
<p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
<ul>
  <li>We will notify you via email (only if we have it) within 7 business days</li>
  <li>We will notify the users via in-site notification within 7 business days</li>
  </ul>

<p>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
<h2>CAN SPAM Act</h2>
<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
<div>We collect your email address in order to:
<ul>
  <li>Send information, respond to inquiries, and/or other requests or questions</li>
  <li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
</ul>
</div>
<div>To be in accordance with CAN SPAM, we agree to the following:
<ul>
  <li>Not use false or misleading subjects or email addresses.</li>
  <li>Identify the message as an advertisement in some reasonable way. (unless it is a regularly scheduled email)</li>
  <li>Include the physical address of our business or site headquarters.</li>
  <li>Monitor third-party email marketing services for compliance, if one is used.</li>
  <li>Honor opt-out/unsubscribe requests quickly.</li>
  <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
</ul>
</div>
<h2>How long do we keep your information?</h2>
<p>We will keep your information until you tell us not to or analytics and ad partners delete it.</p>
<h2>Does your data go international?</h2>
<p>Our servers are currently in the USA. We use SSL so it is protected every step of the way.</p>
 
<p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.</p>
<h2>Comments</h2>
<p>When visitors leave comments on the site we and Disqus collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.
An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.
Please look at disqus website for their full privacy policy.</p>
<h2>Contacting Us</h2>
<p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
<p>hyip-review.com
  22 Strapp Street
  Bethlehem
  South Africa
  info@hyip-review.com
  +27 82 884 5000</p>
<p>Last edited on 12 July 2018</p>
</div>
