<div class="page_content">

  <p>Get in contact with us by leaving your email and a message.<br><br>
    By submitting this form you agree to our <a routerLink="terms">Terms of use</a> and <a routerLink="privacy">Privacy Policy</a></p>
  <form (ngSubmit)="submit()" [formGroup]="formMC">

      <mat-form-field class="example-full-width">
        <input matInput #email placeholder="Email" formControlName="emailControl" >
        <mat-error *ngIf="formMC.controls['emailControl']?.invalid">{{getErrorMessage()}}</mat-error>

      </mat-form-field>

    <mat-form-field class="example-full-width" hintLabel="Max 255 characters">
    <input matInput #msg placeholder="Message" formControlName="msgControl" >
      <mat-hint align="end">{{msg.value?.length || 0}}/255</mat-hint>
    </mat-form-field>

    <button *ngIf="!processing" type="submit" mat-raised-button color="primary">Submit</button>

    <div class="errormsg" *ngIf="error != ''" [innerHtml]="error"></div>
  </form>
</div>
