form{
  display:flex;
  flex:1 auto;
  flex-direction:column;
  max-width:500px;
  margin:0 auto;
  .mat-form-field{
    padding-bottom:30px;
  }
  button{
    max-width:200px;
    margin:0 auto;
  }
}

p a{
  color:#383838;
  text-decoration:underline;
}



div.errormsg{
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
