/* You can add global styles to this file, and also import other style files */
html, body{
  height:100%;
  font-family: 'Roboto';
}


hyip-root{
  height:100%;
  display:flex; flex-direction: column
}
body { margin: 0; text-align:center; background: #ECF0F1; }
.fullcontainer{
  flex: 1 0 auto;
}
mat-card-header .mat-card-header-text{
  margin:0;
  text-align:left;
}

.mat-card-header{
  .mat-card-title{
    font-size:18px;
  }
  .mat-card-subtitle{
    font-size:12px;
  }

}

deq-hyip-list{
  display:flex;
  flex-direction: column;
}

footer{
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  padding:20px;
  width:100%;
  color: #fff;
  font-weight:300;
  font-size:12px;
  background:#1a237e;
  display: flex;
  flex-direction:column;
}

.footer_links{
  margin:0 auto;
  padding-top:20px;
  a{
    color:#fff;
    text-decoration:underline;
    margin:10px;
  }
}

.footer_disclaimer{
  text-align:left;
  padding:20px 20px;
  line-height:1.5;
}




td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  text-align:left;
}


.star_rating{

  i.material-icons {
    font-size:16px !important;
    color: darkorange;

  }
}


.paying .material-icons{
  color: forestgreen !important;
}


.not_paying .material-icons{
  color: indianred !important;
}

hyip-tmp{
  flex:1 auto;
}

.tb_title{
  display: flex;
  flex-direction:column;
  flex:1 auto;
  justify-content:center;
}

.tb_title h1{
  font-size: 30px;
  font-weight: 300;
  color:#fff;
}

.page_content{
  padding-top:20px;
  text-align:left;
  color:#383838;
  font-weight:300;
  line-height:1.4;
}


.search_box{
  display: flex;
  justify-content: center;
  flex:1 auto;
  align-items: center;

  .form_field{
    background:#fff;
    border-radius: 5px;
    padding: 10px 20px;
    width:60%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    span{

      padding-right:20px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    input{
      flex:1 auto;
      border:none;
      font-size:16px;
      outline:none;
    }
  }
}


.page_content{
  width: 80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
}


@media (max-width: 768px) {

  .star_rating {

    i.material-icons {
      font-size: 12px !important;
      color: darkorange;

    }
  }
}




